.renticon {
    background: url(images/renticon-with-size.webp) no-repeat top left;
    width: 50px;
    height: 50px;
    display: inline-flex
}

@-moz-document url-prefix() {
    .renticon {
        background: url(images/renticon-with-size.png) no-repeat top left
    }
}

@media not all and (min-resolution:.001dpcm) {
    .renticon {
        background: url(images/renticon-with-size.png) no-repeat top left
    }
}

.renticon.renticon-account {
    background-position: 0 0
}

.renticon.renticon-added-value {
    background-position: -60px 0
}

.renticon.renticon-add-image {
    background-position: -120px 0
}

.renticon.renticon-address {
    background-position: -180px 0
}

.renticon.renticon-apparels {
    background-position: -240px 0
}

.renticon.renticon-basket-icon {
    background-position: -300px 0
}

.renticon.renticon-business-image {
    background-position: -360px 0
}

.renticon.renticon-camera {
    background-position: -420px 0
}

.renticon.renticon-cat_apparel_jewelery_for_rent {
    background-position: -480px 0
}

.renticon.renticon-cat_audio_video_rental {
    background-position: -540px 0
}

.renticon.renticon-cat_baby_products_rental {
    background-position: -600px 0
}

.renticon.renticon-category {
    background-position: -660px 0
}

.renticon.renticon-cat_event_product_rentals {
    background-position: -720px 0
}

.renticon.renticon-cat_fancy_dress_rental {
    background-position: -780px 0
}

.renticon.renticon-cat_home_kitchen_rental {
    background-position: -840px 0
}

.renticon.renticon-cat_hospital_product_rental {
    background-position: -900px 0
}

.renticon.renticon-cat_workstation_for_rent {
    background-position: -960px 0
}

.renticon.renticon-check {
    background-position: -1020px 0
}

.renticon.renticon-coin {
    background-position: -1080px 0
}

.renticon.renticon-coins {
    background-position: -1140px 0
}

.renticon.renticon-dash {
    background-position: -1200px 0
}

.renticon.renticon-down-arrow {
    background-position: -1260px 0
}

.renticon.renticon-down-arrow-white {
    background-position: -1320px 0
}

.renticon.renticon-empty-cart {
    background-position: -1380px 0
}

.renticon.renticon-event-rentals-icon {
    background-position: -1440px 0
}

.renticon.renticon-facebook-icon {
    background-position: -1500px 0
}

.renticon.renticon-gaming-console {
    background-position: -1560px 0
}

.renticon.renticon-hiw_customer_service {
    background-position: -1620px 0
}

.renticon.renticon-hiw_economical_rental_services {
    background-position: -1680px 0
}

.renticon.renticon-hiw_flexible_renting {
    background-position: -1740px 0
}

.renticon.renticon-hiw_home_delivery {
    background-position: -1800px 0
}

.renticon.renticon-hiw_one_stop_rental_shop {
    background-position: -1860px 0
}

.renticon.renticon-hobby-rentals-icon {
    background-position: -1920px 0
}

.renticon.renticon-home {
    background-position: -1980px 0
}

.renticon.renticon-home-kitchen {
    background-position: -2040px 0
}

.renticon.renticon-laptop {
    background-position: -2100px 0
}

.renticon.renticon-left-arrow {
    background-position: -2160px 0
}

.renticon.renticon-lifebuoy {
    background-position: -2220px 0
}

.renticon.renticon-location {
    background-position: -2280px 0
}

.renticon.renticon-location-icon-white {
    background-position: -2340px 0
}

.renticon.renticon-lock {
    background-position: -2400px 0
}

.renticon.renticon-loyalty-points {
    background-position: -2460px 0
}

.renticon.renticon-notepad {
    background-position: -2520px 0
}

.renticon.renticon-office-equipments {
    background-position: -2580px 0
}

.renticon.renticon-office-equipments-icon {
    background-position: -2640px 0
}

.renticon.renticon-online-booking {
    background-position: -2700px 0
}

.renticon.renticon-online-payments-voice {
    background-position: -2760px 0
}

.renticon.renticon-orders-icon {
    background-position: -2820px 0
}

.renticon.renticon-package {
    background-position: -2880px 0
}

.renticon.renticon-pay-checkout {
    background-position: -2940px 0
}

.renticon.renticon-profile-icon {
    background-position: -3000px 0
}

.renticon.renticon-quality-checked-product {
    background-position: -3060px 0
}

.renticon.renticon-refer-friend {
    background-position: -3120px 0
}

.renticon.renticon-rent-categories {
    background-position: -3180px 0
}

.renticon.renticon-rent-for-day-month-year {
    background-position: -3240px 0
}

.renticon.renticon-right-arrow {
    background-position: -3300px 0
}

.renticon.renticon-saved-addresses {
    background-position: -3360px 0
}

.renticon.renticon-saved-cards {
    background-position: -3420px 0
}

.renticon.renticon-secondary-left-arrow {
    background-position: -3480px 0
}

.renticon.renticon-secondary-right-arrow {
    background-position: -3540px 0
}

.renticon.renticon-select-quantity-rent {
    background-position: -3600px 0
}

.renticon.renticon-sign-out-icon {
    background-position: -3660px 0
}

.renticon.renticon-signup-earn-loyalty-points {
    background-position: -3720px 0
}

.renticon.renticon-support-rented-items {
    background-position: -3780px 0
}

.renticon.renticon-tab-right-arrow {
    background-position: -3840px 0
}

.renticon.renticon-tick-mark {
    background-position: -3900px 0
}

.renticon.renticon-twitter {
    background-position: -3960px 0
}

.renticon.renticon-uploaded-for-rent-icon {
    background-position: -4020px 0
}

.renticon.renticon-wallet-icon {
    background-position: -4080px 0
}

.renticon.renticon-rating-star {
    background-position: -4140px 0;
    width: 150px;
    height: 25px
}

.renticon.renticon-zcat_adults_costumes {
    background-position: -4300px 0
}

.renticon.renticon-zcat_baby_cradles {
    background-position: -4360px 0
}

.renticon.renticon-zcat_baby_strollers {
    background-position: -4420px 0
}

.renticon.renticon-zcat_birthday_party_supplies {
    background-position: -4480px 0
}

.renticon.renticon-zcat_camera_accessories {
    background-position: -4540px 0
}

.renticon.renticon-zcat_cameras {
    background-position: -4600px 0;
    height: 40px
}

.renticon.renticon-zcat_camping_tents {
    background-position: -4660px 0
}

.renticon.renticon-zcat_desktop_computers {
    background-position: -4720px 0
}

.renticon.renticon-zcat_drones_photography_packages {
    background-position: -4780px 0
}

.renticon.renticon-zcat_DSLR_cameras {
    background-position: -4840px 0
}

.renticon.renticon-zcat_DSLR_lenses {
    background-position: -4900px 0
}

.renticon.renticon-zcat_featured_packages {
    background-position: -4960px 0
}

.renticon.renticon-zcat_fun_with_friends_packages {
    background-position: -5020px 0
}

.renticon.renticon-zcat_gaming_consoles {
    background-position: -5080px 0
}

.renticon.renticon-zcat_home_furniture {
    background-position: -5140px 0
}

.renticon.renticon-zcat_indoor_party_setup {
    background-position: -5200px 0
}

.renticon.renticon-zcat_jewellery {
    background-position: -5260px 0
}

.renticon.renticon-zcat_kids_costumes {
    background-position: -5320px 0
}

.renticon.renticon-zcat_kitchen_appliances {
    background-position: -5380px 0
}

.renticon.renticon-zcat_laptops {
    background-position: -5440px 0
}

.renticon.renticon-zcat_LED_TV {
    background-position: -5500px 0
}

.renticon.renticon-zcat_lighting_for_events {
    background-position: -5560px 0
}

.renticon.renticon-zcat_medical_beds {
    background-position: -5620px 0
}

.renticon.renticon-zcat_mens_dresses {
    background-position: -5680px 0
}

.renticon.renticon-zcat_mic_with_audio_systems {
    background-position: -5740px 0
}

.renticon.renticon-zcat_mobiles_and_tablets {
    background-position: -5800px 0
}

.renticon.renticon-zcat_Musical_Instruments {
    background-position: -5860px 0
}

.renticon.renticon-zcat_office_packages {
    background-position: -5920px 0
}

.renticon.renticon-zcat_party_packages {
    background-position: -5980px 0
}

.renticon.renticon-zcat_party_supplies {
    background-position: -6040px 0
}

.renticon.renticon-zcat_printers {
    background-position: -6100px 0
}

.renticon.renticon-zcat_projectors {
    background-position: -6160px 0
}

.renticon.renticon-zcat_Refrigerators {
    background-position: -6220px 0
}

.renticon.renticon-zcat_respiratory_equipment {
    background-position: -6280px 0
}

.renticon.renticon-zcat_server_ystems {
    background-position: -6340px 0
}

.renticon.renticon-zcat_speaker_systems {
    background-position: -6400px 0
}

.renticon.renticon-zcat_tools {
    background-position: -6460px 0
}

.renticon.renticon-zcat_TV_and_display_systems {
    background-position: -6520px 0
}

.renticon.renticon-zcat_womens_dresses {
    background-position: -6580px 0
}

.renticon.renticon-zcat_vacuum_cleaner {
    background-position: -6640px 0
}

.renticon.renticon-zcat_video_recorders {
    background-position: -6700px 0
}

.renticon.renticon-zcat_wheelchairs {
    background-position: -6760px 0
}

.renticon.renticon-zcat_washing_machine {
    background-position: -6820px 0
}